*{
    margin: 0;
}


header{
    padding: 4rem;
    background-color: darkgrey;
}


.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: .8rem;
}

ul li:last-child{
    background-color: blueviolet;
    color: white;
    padding: .8rem;
}

.container{
    display: flex;
    gap: 1rem;
    margin: 1rem;
}
main, aside{
     background-color: darkgray;  
     border: 1px solid rgb(255, 254, 254);
     height: 95vh;
}
main{
    flex: 1;
}
aside{
    flex-basis: 25%;
}
.galeria{
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem;
    
}
h1{
    text-align:  center;
}
img{
    width: 30%;
    height: auto;
}