/*h1{
    color: blue;
    font-size: 60px;
}

p{
    color: green;
}

#content {
    color: orange;
}

#title{
    color: yellow;
}

.red{
    color: red;
}

.big{
    font-size:3em;
}

[title]{
    color:orange;
}
*/

p , h1, .red{
    color:blue;
}

p:hover, h1:hover{
    color:red;
}
